<html> <head>
<title>Chet Weger's Resume</title>
<link rel="stylesheet" href="/media/style_resume.css">
</head>
<body>

<div class = "container">

<h2 style = "display: inline">Chester (Chet) Karl Weger</h2> <br>
<i>ckw02010@mymail.pomona.edu</i><br>
http://chet-weger.herokuapp.com/
<br>
<br>

<strong> Objective:</strong> To obtain a computer science internship for summer 2013.

<br>
<br>

<strong> Example Projects: </strong>
<li> <a href="/user/">E-FLASHCARDS (http://chet-weger.herokuapp.com/user/)</a> </li>
<li> <a href={{trio_file}}>Trio min/max  adversary search with alpha-beta prunning (python file)</a> </li>
<br>

<strong>Employment:</strong> <br>
<li> Was a tutor for Harvey Mudd Upward Bound Program </li>
<li> Was T.A. for POM CS052: Foundations of Computer Science </li>
<li> Currently developing a website for reporting stolen bikes </li>

<br>

<strong> Education: </strong>
<li> Junior at Pomona College in Claremont, CA </li>
<li> Expected Graduation Date: Spring 2014 </li>
<li> Major: Computer Science </li>
<li> Minor: Mathematics </li>
<br>

<strong>Skills:</strong>
<div class = "twoColumns">
  <p class = "left">
  Core Languages: <br>
  &#149; Python <br>
  &#149; C <br>
  &#149; Haskell
  </p>

  <p class = "left">
  Familiar With:<br>
  &#149; Java<br>
  &#149; C++<br>
  &#149; sql<br>
  &#149; sml<br>
  &#149; prolog<br>
  &#149; javascript
  </p>

  <p class = "left">
  Libraries:<br>
  &#149; Django<br>
  &#149; pygame<br>
  &#149; OpenCV
  </p>
</div>

<div class = "twoColumns">
  <p class = "left">
  Content Representation:<br>
  &#149; CSS<br>
  &#149; HTML<br>
  &#149; Latex
  </p>
  
  <p class = "left">
  Version Control:<br>
  &#149; Git <br>
  &#149; Subversion
  </p>
</div>

<strong> References: </strong> Will be provided if requested.

</container>

</body>
</html>
