<html> <head>
<title>Chet Weger's Resume</title>
<link rel="stylesheet" href="/media/style_resume.css">
</head>
<body>

<div class = "container">

<h2 style = "display: inline">Chester (Chet) Karl Weger</h2> <br>
<i>ckw02010@mymail.pomona.edu</i><br>
http://chet-weger.herokuapp.com/
<br>

<br>

<strong> Example Projects: </strong>
<li> <a href='/play_meta_ttt/'>Meta Tic Tac Toe AI programmed using the min-max search algorithm with alpha-beta prunning.</a> </li>
<li> <a href='/learn_meta_ttt/'>Watch the AI play itself, using temporal difference learning to improve function evaluation contstants.</a> </li>
<li> <a href='/play_ttt/'>Play an AI for tic-tact-toe.</a> </li>
<li> <a href="/user/">E-FLASHCARDS (http://chet-weger.herokuapp.com/user/)</a> </li>
<br>

<strong>Employment:</strong> <br>
<li> Interned at Pagewoo helping to develop <a href='http://nearwoo.com'>nearwoo.</a></li>
  <ul> 
    <li>Devoloped a module to automatically generate information about a user's business.  This included integration with the yelp business search api as well as a scraping component to find, amoung other things, relevant pictures that would be useful in banner ad creation.</li>
    <li>Performed other miscelaneous scrapping and web development tasks.</li>
  </ul>
<li> Was T.A. for POM CS052: Foundations of Computer Science. </li>
<li> Tutored for Harvey Mudd Upward Bound Program. </li>
<br>

<strong> Education: </strong>
<li> Senior at Pomona College in Claremont, CA </li>
<li> Expected Graduation Date: Spring 2014 </li>
<li> Major: Computer Science </li>
<li> Minor: Mathematics </li>
<br>

<strong>Skills:</strong>
<div class = "twoColumns">
  <p class = "left">
  Core Languages: <br>
  &#149; Python <br>
  &#149; Java<br>
  &#149; C <br>
  </p>

  <p class = "left">
  Familiar With:<br>
  &#149; Scala<br>
  &#149; javascript
  &#149; Haskell<br>
  &#149; C++<br>
  &#149; sql<br>
  &#149; sml<br>
  &#149; prolog<br>
  </p>

  <p class = "left">
  Libraries/frameworks:<br>
  &#149; Django<br>
  &#149; webapp2<br>
  &#149; pygame<br>
  &#149; pyjs/pyjamas<br>
  &#149; Cascading<br>
  </p>
</div>

<div class = "twoColumns">
  <p class = "left">
  Content Representation:<br>
  &#149; CSS<br>
  &#149; HTML<br>
  &#149; Latex
  </p>
  
  <p class = "left">
  Version Control:<br>
  &#149; Git <br>
  &#149; Subversion
  </p>
</div>

<p>
<strong>Values:</strong>
</p>

<strong> References: </strong> Will be provided if requested.

</container>

</body>
</html>
