{% extends "base.html" %}
{% block content %}

<div class = "header">
<h2 class = "logo">E-FLASHCARDS</h2>
<br>
<form class="navigation" align="center" method="post" action="/log_out/">{% csrf_token %}
        <input type ="submit" value ="Log Out">
</form>
<a class="navigation" href="/user/">Return to User Profile Page</a>
</div>

<div class = "content">
<a href="#" onclick="show_back('back'); return false;">
  <h3> {{flashcard.front}} </h3>
</a>
</div>

<div class = "content">
<span id="back" style="display: none;">
  <h3> {{flashcard.back}} </h3>
  <form align="center" method="post" action="/user/set/{{flashcard.setID}}/review/{{flashcard.cardID}}/False/">{% csrf_token %}
        <input type ="submit" value ="Repeat This Card (Incorrect)">
</form>
<form align="center" method="post" action="/user/set/{{flashcard.setID}}/review/{{flashcard.cardID}}/True/">{% csrf_token %}
        <input type ="submit" value ="Don't Repeat This Card (Correct)">
</form>
</span>
<br>
</div>

{% endblock %}
