body{
    background-color:#C0C0C0;
}

.header{
    background-color:#4169E1;
    border: 1px solid grey;
    overflow: auto;
    width: 96%;
    margin-left: 2%;
}

.header .logo{ 
    float: left;
    display: inline-block;
}

.header .navigation{
    float: right;
    display: inline-block;
}



.content{
    margin-top: 1em;
    background-color:#4169E1;
    border: 1px solid grey;
    width: 80%;
    margin-left: 10%;
}
